@import "./variables";
.roadMap {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(10, 7em);
    grid-column: 1/2;
    grid-row: 4/7;
    gap: 1em;
    padding-inline: 2em;
    background: #FAFCFF;
}
.roadMaps {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33%);
    padding-bottom: 2em;
    overflow: hidden;
    gap: 1em;
    &__image {
        width: 20px;
        height: 20px;

   }
.roadMap__image {
   height: 20px;
    width: 60%;

}
.roadMap__date {
    font-family: $textFontlight;
    font-size: 10px;

}
.roadMap__text {
    font-family: $textFontlight;
    font-size: 12px;
}

}
.roadMaps:nth-of-type(3) > .roadMap__image, .roadMaps:nth-of-type(6) > .roadMap__image, .roadMaps:nth-of-type(9) > .roadMap__image, .roadMaps:nth-of-type(12) > .roadMap__image  {
    width: 20px;
    height: 20px;

}
